@import '../../variables';

.subheader {
  @extend %row-nowrap;

  background-color: $white;
  padding: 0 1rem;
  font-size: 0.9rem;
  box-shadow: 0 1px 0 0 rgba($black, 0.1);
  height: 63px;
  flex: 0 0 auto;

  &--empty {
    .subheader__logo {
      margin: 0 auto;
    }
  }

  &__logo {
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('../../assets/images/icon-128.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1rem;
  }

  &__content {
    @extend %row-nowrap;

    flex: 1 0 auto;
    align-items: center;
    max-width: 42.5rem;
    margin: 0 auto;
  }

  &__actions {
    @extend %row-nowrap;

    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-end;
  }

  &__action {
    @extend %link;

    color: $black;
    font-size: 0.8rem;
    padding: 1.5rem 0.75rem;
    font-weight: 600;
    transition: box-shadow 250ms ease-in, color 200ms ease-in-out;
    box-shadow: inset 0 -2px rgba($azure-blue, 0);
    user-select: none;
    text-align: center;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 -2px lighten($azure-blue, 10);
    }

    &--selected {
      box-shadow: inset 0 -2px lighten($azure-blue, 10);
    }
  }

  //&__action + &__action {
  //  margin-left: .5rem;
  //}

  &__search {
    @extend %row-nowrap;

    position: relative;
    border: 1px solid rgba($black, 0.1);
    border-radius: 0.25rem;
    align-items: center;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
    transition: 200ms ease-in-out;
    box-shadow: 0 2px 2px 0 rgba($black, 0.15);

    &__input {
      border: none;
      outline: none;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1rem;
      margin-right: 0.25rem;
      min-width: 10rem;
      background-color: transparent;

      &::-webkit-input-placeholder {
        font-weight: 500;
        color: rgba($black, 0.35);
      }
    }

    &:focus-within {
      border: 1px solid rgba($azure-blue, 0.6);
      box-shadow: 0 2px 2px 0 rgba($azure-blue, 0.15);
    }

    &__icon {
      background-image: url('../../assets/images/search.svg');
      height: 1.25rem;
      width: 1.25rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
