@import "../../variables";

.modal {
  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($main-contrast, .7);
    z-index: 100;
    overflow: auto;
  }

  &__wrapper {
    margin: 3rem auto;
    background-color: $main-back;
    border-radius: .5rem;
    box-shadow: 0 2px 8px 4px rgba($main-contrast, .2);
    z-index: 200;
  }
}

.sidemodal {
  &__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba($main-contrast, .1);
    z-index: 100;
    overflow: auto;
  }

  &__wrapper {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: $main-back;
    border-radius: .5rem;
    box-shadow: 0 2px 8px 4px rgba($main-contrast, .2);
    z-index: 200;
  }
}
