@import '../../variables';

.exchange {
  color: $main-contrast;
  h2 {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0;
  }

  cursor: default;

  &__auction-listing__row {
    cursor: pointer;
  }
}

.exchange__input {
  margin-bottom: 0.8rem;
}

.exchange__label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  display: block;
}

.exchange__button-header {
  display: flex;
  align-items: center;

  &__sub {
    @extend %h6;
    color: $second-contrast;
    margin-bottom: .5rem;
  }
}

.exchange__button-header-button {
  margin-left: auto;
  width: auto !important;
}

.place-bid-modal__table {
  margin-left: -3px;

  td {
    padding-right: .5rem;
  }
}

.place-bid-modal__buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;

  button {
    width: 50%;
  }
}

.place-bid-modal__cancel {
  @extend %btn-primary;
  background-color: #cecece;
  border-color: #cecece;
  color: #333;
  margin-right: 0.2rem;

  &:hover {
    background-color: #aaa;
    border-color: #aaa;
  }
}

.place-bid-modal__send {
  @extend %btn-primary;
  margin-left: 0.2rem;
}

.exchange__auction-row-buttons {
  display: flex;
}

.exchange-table {
  .loader {
    height: 1rem;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem auto;
  }

  .table {
    &__header__item,
    &__row__item {
      &:nth-of-type(1) {
        @extend %ellipsify;
        flex: 0 0 8rem;

        .info {
          display: inline-block;
          vertical-align: bottom;
          cursor: help;
        }
      }

      &:nth-of-type(2) {
        flex: 1 0 8rem;
      }

      &:nth-of-type(3) {
        flex: 0 1 9rem;
      }

      &:nth-of-type(4) {
        flex: 0 1 9rem;
      }

      &:nth-of-type(5) {
        flex: 0 0 12rem;
      }
    }
  }

  &__listing-status {
    @extend %row-nowrap;
    @extend %ellipsify;
    align-items: center;
    font-size: .625rem;
    font-weight: 500;
    color: $dark-grey;
    text-transform: uppercase;

    &:before {
      flex: 0 0 auto;
      display: block;
      content: '';
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: $second-contrast;
      margin-right: .5rem;
    }

    &--active {
      &:before {
        background-color: $success;
      }
    }

    &--transfer-confirmed {
      &:before {
        background-color: $transfer-editing;
      }
    }

    &--transfer-confirming {
      &:before {
        background-color: $transfer-editing;
      }
    }

    &--sold {

    }

    &--not-found {
      &:before {
        background-color: $failed;
      }
    }

    &--finalized-confirmed {
      &:before {
        background-color: $transfer-editing;
      }
    }

    &--finalized-confirming {
      &:before {
        background-color: $transfer-editing;
      }
    }

    &--transfer-cofirmed-lockup {
      &:before {
        background-color: $transfer-editing;
      }
    }

  }

  .pointer {
    cursor: pointer;
  }
}

.exchange__place-listing-modal {
  p {
    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  .alert {
    margin-top: 1rem;
  }
}
