@import '../../variables.scss';

.account {
  width: 100%;
  justify-content: stretch;
  overflow-y: auto;

  &__address {
    @extend %row-nowrap;
    align-items: center;
    font-weight: 500;
    color: $manatee-gray;
  }

  &__header {
    @extend %row-nowrap;
    padding: 2rem 1.5rem 1rem;
  }

  &__header-section {
    @extend %col-nowrap;
    padding: 0 1.5rem;
  }

  &__info-icon {
    margin-left: 0.5rem;
    background-image: url(../../assets/images/info.svg);
    height: 1.125rem;
    width: 1.125rem;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer;
  }

  &__balance-wrapper {
    @extend %col-nowrap;
    flex: 1 0 auto;

    &__label {
      color: rgba($black, 0.4);
    }

    &__amount {
      font-size: 1.6125rem;
      line-height: 3rem;
      font-weight: 500;
    }
  }

  &__actions {
    @extend %col-nowrap;
    flex: 0 0 auto;
    justify-content: flex-end;
  }

  &__btn {
    @extend %btn-secondary;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__transactions {
    margin-bottom: 3rem;

    &__loading {
      @extend %row-nowrap;
      color: rgba($black, 0.5);
      font-weight: bold;
      font-size: 0.8rem;
      z-index: 100;
      align-items: center;
      justify-content: flex-end;
      flex: 1 1 auto;


      &:before {
        content: '';
        display: block;
        height: 0.8rem;
        width: 0.8rem;
        background-size: cover;
        background-position: center;
        margin-right: 4px;
        background-image: url('../../assets/images/brick-loader.svg');
      }
    }
  }

  &__domains {
    margin-bottom: 3rem;
  }

  &__panel-title {
    @extend %row-nowrap;
    font-size: .8125rem;
    font-weight: 500;
    margin: 1rem 3rem 1rem 3rem;
  }

  &__empty-list {
    // background-color: rgba($black, 0.03);
    // padding: 0.75rem 1.25rem;
    // border-radius: 0.5rem;
    color: rgba($black, 0.5);
    font-size: 0.8rem;
    font-style: italic;
  }

  &__switch-account-modal {
    max-width: 25rem;
    position: relative;
    padding: 1.25rem 2rem;

    &__close-btn {
      position: absolute;
      top: 1.25rem;
      right: 2rem;
      font-weight: 700;
      cursor: pointer;
      font-size: 1.2rem;
    }

    &__header {
      @extend %col-nowrap;
    }

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__title {
      font-weight: 500;
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
    }

    &__content {
      @extend %row-nowrap;
      justify-content: center;
      margin: 3rem;
      font-size: 1.25rem;
      font-weight: 500;
      align-items: center;
    }

    &__account-base {
      margin-right: 1rem;
      letter-spacing: 0.05rem;
    }

    &__account-index {
      border: 1px solid rgba($black, 0.2);
      padding: 0.75rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      outline: none;
      width: 6rem;
      transition: border 200ms ease-in-out;

      &::-webkit-input-placeholder {
        font-weight: 300;
        color: rgba($black, 0.35);
      }

      &:focus-within {
        border: 1px solid rgba($black, 0.3);
      }
    }

    &__footer {
      text-align: center;
    }

    &__btn {
      @extend %btn-primary;
      padding: 0.75rem 3rem;
    }
  }

  &__alert {
    background: #d4e0f5;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    @extend %h4;

    strong {
      font-weight: 500;
    }
  }
}
