@import '../../variables';

.settings {
  @extend %col-nowrap;
  flex: 1 1 auto;
  margin-top: 1px;
  overflow-y: auto;
  color: $main-contrast;

  .content-area__title {
    flex: 0 0 auto;
    margin: 0;
  }

  .content-area__content {
    @extend %row-nowrap;
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__nav {
    @extend %col-nowrap;
    flex: 0 0 auto;
    width: 16rem;
    padding: .5rem 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    &__item {
      padding: .5rem 1rem;
      cursor: pointer;
      font-weight: 500;

      &--selected {
        color: $accent-main;
        font-weight: bold;
      }

      &:hover {
        background-color: $second-back;
      }

      &:active {
        background-color: $second-back;
      }

    }
  }

  &__content {
    flex: 1 1 auto;
    overflow-y: auto;

    &__section {
      @extend %row-nowrap;
      cursor: default;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      align-items: center;

      &--disabled {
        background-color: rgba(0, 0, 0, 0.5);
        color: $manatee-gray;
      }

      &__info {
        @extend %col-nowrap;
        flex: 1 1 auto;
        padding: 1rem 1.5rem;

        &__title {
          font-size: 1.125rem;
        }

        &__description {
          @extend %row-nowrap;
          align-items: center;
          font-size: .875rem;
          font-weight: 400;
          color: $manatee-gray;
          margin-top: .25rem;
        }
      }

      &__footer {
        padding: 1rem 1.5rem;
        flex: 0 0 auto;
      }

      &__cta {
        @extend %btn-secondary;
        padding: .5rem 1rem;
      }
    }
  }

  &__row {
    @extend %row-nowrap;

    &--centered {
      justify-content: center;
    }
  }

  &__input-row {
    @extend %col-nowrap;
    align-items: flex-start;

    .dropdown {
      width: 100%;
      margin: .3125rem 0 1rem;

      &--opened {
        border-color: $accent-main;
      }
    }

    .dropdown__current-item__text {
      text-align: left;
    }

    .dropdown__current-item {
      font-weight: 400;
      padding: 6px;
      border: 1px solid $second-back;
      font-size: 14px;
      background-color: $main-back;
    }

    .dropdown__options {

    }

    .dropdown__option {
      text-align: left;
      font-weight: 400;
      padding: 6px;
      border: 1px solid $second-back;
      font-size: 14px;
    }
  }

  &__input-title {
    @extend %row-nowrap;
    cursor: default;
    font-size: .8125rem;
    font-weight: bold;
    margin: 0 .25rem .25rem;
    width: 100%;

    a {
      flex: 1 1 auto;
      text-align: right;
      color: $accent-main;
      cursor: pointer;
    }
  }

  &__input {
    border: 1px solid $second-back;
    padding: 6px;
    width: calc(100% - 12px);
    font-family: "Courier New", monospace;
    font-size: 14px;
    border-radius: .5rem;
    margin-bottom: 1rem;

    &:focus {
      border-color: $accent-main;
      outline: 0;
    }
  }

  &__view-api-btn {
    @extend %btn-secondary;
    padding: .5rem 1rem;
    margin-right: .375rem;
  }

  &__secondary-btn {
    @extend %btn-secondary;
    padding: .5rem 1rem;
    margin-right: .5rem;
  }

  &__btn {
    @extend %btn-primary;
    padding: .5rem 1rem;
  }
}

.rpc-modal-warning {
  font-size: .8125rem;
  color: $failed;
  margin-bottom: .5rem;
}

.node-status {
  &--active,
  &--inactive {
    border-radius: 50%;
    display: block;
    width: .75rem;
    height: .75rem;
    margin-right: .3125rem;
  }

  &--active {
    background-color: $success;
  }

  &--inactive {
    background-color: $manatee-gray;
  }
}

.settings__label {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0.75rem;
}

.settings__dropdown {
  max-width: 170px;
  margin-bottom: 36px;
}

.settings__supersection {
  font-weight: 600;
  font-size: 24px;
  line-height: 21px;
  margin-bottom: 3px;
}

.settings__section-head {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 3px;
}

.settings__hd-path {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.settings__balance {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  color: #909095;
}

.settings__links {
  margin: 0 0 24px 0;
  padding: 0;

  li {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0;
    padding: 0;
    display: block;
  }

  a {
    @extend %link;
    text-decoration: none;
  }
}

.settings__link {
  @extend %link;
}

.settings__copy-api-key {
  border: 1px solid $second-back;
  padding: 6px;
  width: 350px;
  font-family: "Courier New", monospace;
  font-size: 14px;
  border-radius: .5rem;
  margin-bottom: 1rem;

  &:focus {
    border-color: $accent-main;
    outline: 0;
  }
}

.settings__separator {
  border: 1px solid $second-back;
}

.settings__footer {
  @extend %h5;
  padding: 1rem;
  color: $manatee-gray;
  font-family: monospace;
  text-align: right;
}

.wallet-depth-modal__input-group {
  @extend %col-nowrap;
  align-items: flex-start;

  &__label {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  input {
    border: 1px solid $second-back;
    padding: 6px;
    margin-bottom: 1rem;
    font-family: "Courier New", monospace;
    font-size: 14px;
    border-radius: .5rem;
    width: calc(100% - 1rem);

    &:focus {
      border-color: $accent-main;
      outline: 0;
    }
  }
}

.locale-dropdown {
  width: 12rem;
}


