@import "../../variables";

.max-idle-modal {
  &__instructions {
    margin-bottom: 27px;
  }

  &__input {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 27px;

    input {
      padding: 8px;
      border-radius: 3px;
      border: 1px solid $second-back;
      margin-left: 3px;
      font-size: 16px;
      width: 40px;
      text-align: center;
    }
  }

  &__submit {
    @extend %btn-primary;
  }
}
