@import '../../variables';

.reveal-seed-modal__instructions {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 27px;
}

.reveal-seed-modal__password {
  @extend %box-input;
  border: 0;
  width: 235px;
  box-sizing: border-box;
  margin-bottom: 12px;
}

.reveal-seed-modal__error-message {
  color: $orange-red;
  font-size: 12px;
  width: 235px;
  margin: 0 auto 24px auto;
  text-align: left;
}

.reveal-seed-modal__submit {
  @extend %btn-primary;
  font-weight: bold;
  width: 235px;
  border: 0;
}

.reveal-seed-modal__seed-phrase {
  background-color: $athens-gray;
  width: 235px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;
}
