@import '../../variables';

.sidebar {
  @extend %col-nowrap;
  background-color: $athens-gray;
  padding: 0 2rem 0 1rem;
  font-size: 0.9rem;
  box-shadow: 1px 0 0 0 rgba($black, 0.1);
  flex: 0 0 auto;
  width: 180px;
  height: 100%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;

  &--empty {
    .sidebar__logo {
      margin: 0 auto;
    }
  }

  &__logo-wrapper {
    @extend %row-nowrap;
    margin: 1.75rem 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-icon {
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('../../assets/images/icon-128.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__logo-text {
    @extend %h5;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
  }

  &__content {
    @extend %col-nowrap;
    height: 100%;
    justify-content: space-between;
  }

  &__section {
    @extend %h6;
    color: $manatee-gray;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
  }

  &__actions {
    @extend %col-nowrap;
    margin-bottom: 1rem;
  }

  &__action {
    @extend %link;
    color: $black;
    font-size: 0.8rem;
    padding: 0.75rem 1rem;
    margin: 0.2rem 0;
    font-weight: 600;
    transition: background-color 250ms ease-in, color 200ms ease-in-out;
    background-color: rgba($azure-blue, 0);
    border-radius: 6px;
    user-select: none;
    cursor: pointer;

    &:hover {
      background-color: rgba($azure-blue, 0.05);
      color: $black;
    }

    &--selected {
      background-color: rgba($azure-blue, 0.15);

      &:hover {
        background-color: rgba($azure-blue, 0.15);
      }
    }
  }

  &__footer {
    @extend %col-nowrap;
    padding: 1rem 0;

    &__row {
      @extend %col-nowrap;
      padding: 0.5rem 0.75rem;
    }
    &__title {
      @extend %h6;
      opacity: 0.5;
      color: $manatee-gray;
    }
    &__text {
      @extend %h5;
      color: $manatee-gray;
      font-family: monospace;
    }
  }

  &__search {
    @extend %row-nowrap;

    position: relative;
    border: 1px solid rgba($black, 0.1);
    border-radius: 0.25rem;
    align-items: center;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
    transition: 200ms ease-in-out;
    box-shadow: 0 2px 2px 0 rgba($black, 0.15);

    &__input {
      border: none;
      outline: none;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1rem;
      margin-right: 0.25rem;
      min-width: 10rem;
      background-color: transparent;

      &::-webkit-input-placeholder {
        font-weight: 500;
        color: rgba($black, 0.35);
      }
    }

    &:focus-within {
      border: 1px solid rgba($azure-blue, 0.6);
      box-shadow: 0 2px 2px 0 rgba($azure-blue, 0.15);
    }

    &__icon {
      background-image: url('../../assets/images/search.svg');
      height: 1.25rem;
      width: 1.25rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
