@import '../../variables.scss';

.sidebar {
  @extend %col-nowrap;
  background-color: $second-back;
  box-shadow: 1px 0 0 0 rgba($main-contrast, 0.1);
  font-size: 0.9rem;
  flex: 1 1 auto;
  height: 100%;
  overflow-x: hidden;
  cursor: default;

  &--empty {
    .sidebar__logo {
      margin: 0 auto;
    }
  }

  &__logo-wrapper {
    @extend %row-nowrap;

    margin: 1.25rem 0;
    justify-content: center;
    align-items: center;
  }

  &__content {
    @extend %col-nowrap;
    height: 100%;
    justify-content: flex-start;
    padding: 0 2rem 0 1.5rem;
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__section {
    @extend %h6;
    color: $second-contrast;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem 0.5rem 0;

    &--clickable {
      cursor: pointer;
    }
  }

  &__actions {
    @extend %col-nowrap;
    margin-bottom: .5rem;
  }

  &__action {
    @extend %link;
    color: $main-contrast;
    font-size: 0.8rem;
    padding: 0.75rem 1rem;
    margin: 0.2rem 0 0.2rem -1rem;
    font-weight: 600;
    transition: background-color 250ms ease-in, color 200ms ease-in-out;
    background-color: rgba($accent-main, 0);
    border-radius: 6px;
    user-select: none;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: rgba($accent-main, 0.05);
      color: $main-contrast;
    }

    &--selected {
      background-color: rgba($accent-main, 0.15);

      &:hover {
        background-color: rgba($accent-main, 0.15);
      }
    }
  }

  &__footer {
    @extend %col-nowrap;
    padding: 0.3rem 0rem;
    position: relative;
    flex: 0 0 auto;
    border-top: 1px solid rgba($main-contrast, 0.1);
    background-color: rgba($main-back, 0.5);

    &__row {
      @extend %col-nowrap;
      padding: .25rem .75rem .5rem;
    }

    &__title {
      @extend %h6;
      opacity: 0.5;
      color: $second-contrast;
    }
    &__text {
      @extend %h5;
      color: $second-contrast;
      font-family: monospace;
    }

    &__simnet-controls {
      @extend %row-nowrap;

      button {
        cursor: pointer;
        flex: 1 1 auto;
        padding: 0;
        margin-top: .5rem;
        margin-right: .25rem;
        background-color: #dedede;
        border: 1px solid #a0a0a0;
        color: #333;
      }
    }

    &__update-notif {
      @extend %h5;
      @extend %btn-secondary;
      padding: 0.5rem;
      text-align: center;
    }
  }

  &__search {
    @extend %row-nowrap;

    position: relative;
    border: 1px solid rgba($main-contrast, 0.1);
    border-radius: 0.25rem;
    align-items: center;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
    transition: 200ms ease-in-out;
    box-shadow: 0 2px 2px 0 rgba($main-contrast, 0.15);

    &__input {
      border: none;
      outline: none;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1rem;
      margin-right: 0.25rem;
      min-width: 10rem;
      background-color: transparent;

      &::-webkit-input-placeholder {
        font-weight: 500;
        color: rgba($main-contrast, 0.35);
      }
    }

    &:focus-within {
      border: 1px solid rgba($accent-main, 0.6);
      box-shadow: 0 2px 2px 0 rgba($accent-main, 0.15);
    }

    &__icon {
      background-image: url('../../assets/images/search.svg');
      height: 1.25rem;
      width: 1.25rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
