@import "../../variables";

.ledger-modal {
  &__wrapper {
    width: 14rem;
    padding: 0.5rem;
  }

  &__cta-wrapper {
    margin-top: 1rem;
    text-align: center;

    button {
      flex: 1 1 50%;
      min-width: 10rem;
      margin: 0.2rem
    }
  }

  &__connect {
    @extend %btn-primary;
  }

  &__cancel {
    @extend %btn-secondary;
  }

  .connect__status-pill {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $second-back;

    span.connect__status-number {
      color: $main-contrast;
    }
    span.connect__status-text {
      color: $main-contrast;
    }
  }
  

  &__last-step {
    .connect__status-pill {
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  &__hash {
    width: 100%;
    border: 1px solid #f7f7f7;
    border-top: 0;
    padding: 1rem;
    box-sizing: border-box;
    margin-top: -5px;
    border-radius: 0 0 3px 3px;
    word-wrap: break-word;
    font-family: "Courier New", monospace;
  }

  &__error {
    border: 1px solid $failed;
    color: $failed;
    padding: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
}
