@import '../../variables.scss';

.login {
  @extend %col-nowrap;
}

.login_line_break {
  margin-bottom: 22px;
  margin-top: 15px;
  margin-left: -30px;
}

.clickable {
  cursor: pointer;
}

.login_header {}

.login_password_input {
  @extend %box-input;
  width: 90%;
  height: 10px;
  margin: 5px 0rem;
  border: none;
  border-radius: 8px;
}

.login_subheader_text {
  font-weight: 500;
  font-size: 10px;
  margin: 3px 0px;


  &__accent {
    color: $azure-blue;
    cursor: pointer;
  }
}

.login_options_wrapper {
  margin-bottom: 15px;
}

.login_cta {
  margin-top: 10px;
  margin-bottom: 120px;
}

.login_resolver_switch {
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start;

}

.login_switch_text {
  font-weight: 400;
}
