@import "../../variables";

.alert {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  overflow-wrap: break-word;

  &--error {
    border: 1px solid $failed;
    color: $failed;
  }

  &--warning {
    border: 1px solid $second-contrast;
    color: $second-contrast;
  }

  &--success {
    border: 1px solid $success;
    color: $success;
  }

  &--info {
    border: 1px solid $accent-main;
    color: $accent-main;
  }
}
