@import "../../variables";

.alert {
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;

  &--success {
    border: 1px solid $azure-blue;
    color: $azure-blue;
  }

  &--error {
    border: 1px solid $orange-red;
    color: $orange-red;
  }

  &--warning {
    border: 1px solid $manatee-gray;
    color: $manatee-gray;
  }
}
