@import '../../variables';

.content-area {
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0.2rem;
  padding: 2rem;
}

.content-area__title {
  font-weight: 500;
  padding: 0 0.5rem;
  margin-bottom: 1rem;

  &__no-padding {
    padding: 0;
  }
}
