// BW
$white: #fff;
$black: #000;
$grey: #e2e2e2;
$dark-grey: #c2c2c2;
$athens-gray: #f1f1f3;
$manatee-gray: #909095;
$mischka-gray: #cdcdde;

// Blue
$azure-blue: #2480fd;
$turquioise-blue: #63e8b1;

// Green
$caribbean-green: #00e591;
$success-green: #0bca6b;

// Red
$orange-red: #ff2f1f;

// Extends
i.arrow {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;

  &.right {
    transform: rotate(-45deg);
  }

  &.left {
    background-image: url('/img/arrow-back-blue.svg');
  }
}

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

%link {
  color: $azure-blue;
  cursor: pointer;
  transition: color 200ms ease-in-out;

  &:hover {
    color: lighten($azure-blue, 10);
  }

  &:active {
    color: darken($azure-blue, 10);
  }
}

%btn-primary {
  border: 1px solid $azure-blue;
  padding: 0.6875rem 1rem;
  font-size: 0.875rem;
  outline: none;
  background-color: $azure-blue;
  color: $white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  transition: 200ms ease-in-out;
  user-select: none;

  &:focus {
    border-color: lighten($azure-blue, 5);
    background-color: lighten($azure-blue, 5);
  }

  &:hover {
    border-color: lighten($azure-blue, 5);
    background-color: lighten($azure-blue, 5);
  }

  &:active {
    border-color: darken($azure-blue, 5);
    background-color: darken($azure-blue, 5);
  }

  &:disabled {
    opacity: 0.25;
    cursor: default;
  }
}

%btn-secondary {
  border: 1px solid $azure-blue;
  padding: 0.75rem 1rem;
  font-size: 0.9rem;
  outline: none;
  background-color: transparent;
  color: $azure-blue;
  border-radius: 0.75rem;
  cursor: pointer;
  font-weight: 500;
  transition: 200ms ease-in-out;

  &:focus {
    border-color: lighten($azure-blue, 10);
    background-color: rgba($white, 0.5);
    color: lighten($azure-blue, 10);
  }

  &:hover {
    border-color: lighten($azure-blue, 10);
    background-color: rgba($white, 0.5);
    color: lighten($azure-blue, 10);
  }

  &:active {
    border-color: darken($azure-blue, 10);
    background-color: rgba($white, 0.5);
    color: darken($azure-blue, 10);
    box-shadow: none;
  }

  &:disabled {
    //border-color: darken($azure-blue, 10);
    border-color: $grey;
    //background-color: $grey;
    color: $grey;
    cursor: default;
  }
}

%panel {
  background-color: $white;
  border: 1px solid rgba($black, 0.15);
  box-shadow: 0 2px 2px 1px rgba($black, 0.1);
  border-radius: 0.5rem;
}

%box-input {
  box-shadow: 0 0 0 1.25px $athens-gray;
  background-color: $athens-gray;
  padding: 0.6rem 0.75rem;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  outline: none;
  width: 6rem;
  transition: 200ms ease-in-out;

  &::-webkit-input-placeholder {
    font-weight: 300;
    color: rgba($black, 0.1);
  }

  &:focus-within {
    box-shadow: 0 0 0 1.25px rgba($azure-blue, 0.6);
  }

  input {
    outline: none;
    flex: 1 1 auto;
    width: 0;
    font-size: 0.85rem;
    border: none;
    background-color: $athens-gray;

    &::-webkit-input-placeholder {
      font-weight: 400;
      color: rgba($black, 0.4);
    }
  }
}

/*
  Generic UI Elements
 */

// Switch

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch-text {
  align-self: center;
  padding-left: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17.31px;
  width: 16.67px;
  left: 7.2px;
  bottom: 4.55px;
  background-color: $dark-grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $azure-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $azure-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  background-color: $white;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Text */
$monospace: 'Roboto Mono', monospace;

%h7 {
  font-size: 0.5625rem;
  line-height: 0.5625rem * 1.4;
}

%h6 {
  font-size: 0.625rem;
  line-height: 0.625rem * 1.4;
}

%h5 {
  font-size: 0.75rem;
  line-height: 0.75rem * 1.4;
}

%h4 {
  font-size: 0.875rem;
  line-height: 0.875rem * 1.4;
}

%h3 {
  font-size: 1rem;
  line-height: 1rem * 1.4;
}

%h2 {
  font-size: 1.125rem;
  line-height: 1.125rem * 1.4;
}

%h1 {
  font-size: 1.25rem;
  line-height: 1.25rem * 1.4;
}
