@import '../../../variables';

.opt-in-analytics {
  @extend %col-nowrap;
  height: 100%;

  &__header-text {
    @extend %header_text;
    margin-bottom: 1rem;
  }

  &__cancel {
    @extend %link;
    flex: 1 0 auto;
    text-align: right;
    font-size: 0.8rem;
  }

  &__content {
    @extend %col-nowrap;
    padding: 1.25rem 1.875rem;
    flex: 1 1 auto;
    // height: 0;
  }

  &__body-text,
  &__checkbox-description {
    color: $manatee-gray;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 1rem;
  }

  &__checkbox-description {
    line-height: 1.75rem;
  }

  &__checkbox-container {
    @extend %row-nowrap;
  }

  &__checkbox {
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  &__footer {
    padding: 1.25rem 1.875rem;
  }
}
