@import '../../variables.scss';

.bulk-action {
  .mini-modal__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-left: 1px;
    padding-right: 1px;
  }

  p {
    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  &__label {
    color: rgba($black, 0.4);
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  &__table {
    flex-grow: 1;
    overflow: auto;

    .table {
      &__header {
        min-height: 28px;

        &__item {
          &--checkbox {
            flex: 0 0 2rem;
          }
          &--domain {
            flex: 0 0 8rem;
            flex-grow: 1;
          }
          &--time {
            text-align: right;
            flex: 0 0 10rem;
          }
        }
      }

      &__row {
        transition: background-color 250ms ease-in-out;

        &:hover {
          background-color: rgba($black, .025);
        }

        &:active {
          background-color: rgba($black, .05);
        }

        &__item {
          &--checkbox {
            flex: 0 0 2rem;
          }
          &--domain {
            flex: 0 0 8rem;
            flex-grow: 1;
          }
          &--time {
            text-align: right;
            flex: 0 0 10rem;
          }
        }
      }
    }

    &__body {
      overflow: auto;
      flex-grow: 1;
    }
  }

  &__actions {
    @extend %row-nowrap;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    button {
      @extend %btn-primary;
      flex: 1 0 auto;
    }
  }
}
