@import "../../variables.scss";
.logo {
  @extend %row-nowrap;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: $grey;
  border-radius: 50%;

  &__bob {
    background-image: url('../../assets/images/bob-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 2rem;
    height: 2rem;
  }

  &--clickable {
    &:hover {
      cursor: pointer;
    }
  }
}
