.logo {
  font-size: 1.5rem;

  &__allison {
    color: #bc17db;
  }

  &__and {
    color: #683bf4;
  }

  &__bob {
    color: #27a3e2;
  }

  &--clickable {
    &:hover {
      cursor: pointer;
    }
  }
}
