@import "../../variables";

.proof {
  max-width: 38rem;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;

  &__container {
    @extend %col-nowrap;
  }

  &__close-btn {
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.2rem;
  }

  &__header {
    @extend %col-nowrap;

    margin-bottom: 1rem;
  }

  &__alert {
    background: #d4e0f5;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    @extend %h4;

    strong {
      font-weight: 500;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }

  &__link {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-decoration: underline;
    cursor: pointer;
  }

  &__step {
    margin-bottom: 1.5rem;
  }

  &__step-title {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 0.7rem;

    &--bolded {
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }

  &__step-description {
    color: $manatee-gray;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }

  &__choose-key {
    display: flex;
    align-items: center;
  }

  &__choose-key-path {
    color: $manatee-gray;
    font-size: 0.75rem;
  }

  &__choose-key-btn {
    @extend %btn-primary;
    padding: 0.5rem;
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  &__text-input textarea {
    @extend %box-input;
    box-shadow: 0 0 0 1.25px $mischka-gray;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-family: "Courier New", monospace;
  }

  &__footer {
    @extend %row-nowrap;

    justify-content: space-between;
  }

  &__submit-btn {
    @extend %btn-primary;

    width: 48%;
    padding: 0.7rem 2rem;
  }

  &__details-btn {
    @extend %btn-secondary;

    width: 48%;
    padding: 0.7rem 2rem;
  }

  &__cli-step {
    background: $athens-gray;
    padding: 0.5rem;

    code {
      font-family: "Courier New", monospace;
      font-size: 0.9rem;
      color: $black;
    }
  }
}

.proof-modal {
  @extend %col-nowrap;
  height: 100%;
  width: auto;

  &__header_text {
    @extend %header_text;
    margin-bottom: 1.125rem;
  }

  &__body-text {
    @extend %h4;
    color: $manatee-gray;
    margin-bottom: 1.375rem;

    &__link {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__content {
    @extend %col-nowrap;
    padding: 1.25rem 1.875rem;
    flex: 1 1 auto;
  }

  &__input {
    @extend %box-input;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 12px;

    input {
      width: 100%;
    }
  }

  &__footer {
    padding: 1.25rem 1.875rem 1.875rem 1.875rem;
  }
}

.step_privKey {
  &__privKey {
    @extend %row-nowrap;
    flex: 1 1 auto;
    width: 100%;
    margin-top: 0.5rem;

    & textarea {
      @extend %box-input;
      margin-top: 0.5rem;
      resize: none;
      white-space: normal;
      border: none;
      flex: 1 1 auto;
      padding: 0.75rem 1rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
      width: 100%;
      height: 5em;
      font-family: "Courier New", monospace;
      white-space: pre;

      &::placeholder {
        color: #a2a2a2;
      }
    }
  }

  &__passphrase {
    @extend %box-input;
    width: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;

    input {
      width: 100%;
    }

    &--error {
      box-shadow: 0 0 0 1.25px rgba($orange-red, 0.5);
    }
  }

  &__pgp {
    &__label {
      display: block;
      margin-top: 0.5rem;

      & > span {
        font-size: 0.875rem;
        line-height: 1.225rem;
      }
    }
    &__keyId {
      @extend %box-input;
      width: 50%;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 12px;

      input {
        width: 100%;
      }
    }
  }
}

.step_generating {
  &__log {
    @extend %box-input;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    white-space: pre;
    height: 10rem;
    overflow: auto;
  }
}

.step_proofs {
  &__proof {
    @extend %box-input;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1rem;
    height: 5rem;
    overflow: auto;
    word-break: break-all;
  }
}
