@import "../../variables";

.proof {
  max-width: 38rem;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;

  &__container {
    @extend %col-nowrap;
  }

  &__close-btn {
    position: absolute;
    top: 1.25rem;
    right: 2rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.2rem;
  }

  &__header {
    @extend %col-nowrap;

    margin-bottom: 0.5rem;
  }

  &__alert {
    background: #d4e0f5;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1.5rem;
    @extend %h4;

    strong {
      font-weight: 500;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__step {
    margin-bottom: 1.5rem;
  }

  &__step-title {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 0.7rem;

    &--bolded {
      font-weight: 600;
      margin-right: 0.5rem;
    }
  }

  &__step-description {
    color: $manatee-gray;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }

  &__choose-key {
    display: flex;
    align-items: center;
  }

  &__choose-key-path {
    color: $manatee-gray;
    font-size: 0.75rem;
  }

  &__choose-key-btn {
    @extend %btn-primary;
    padding: 0.5rem;
    flex: 0 0 auto;
    margin-right: 1rem;
  }

  &__text-input textarea {
    @extend %box-input;
    box-shadow: 0 0 0 1.25px $mischka-gray;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-family: "Courier New", monospace;
  }

  &__footer {
    @extend %row-nowrap;

    justify-content: space-between;
  }

  &__submit-btn {
    @extend %btn-primary;

    width: 48%;
    padding: 0.7rem 2rem;
  }

  &__details-btn {
    @extend %btn-secondary;

    width: 48%;
    padding: 0.7rem 2rem;
  }

  &__cli-step {
    background: $athens-gray;
    padding: 0.5rem;

    code {
      font-family: "Courier New", monospace;
      font-size: 0.9rem;
      color: $black;
    }
  }
}
