@import '../../variables.scss';

.collapsible {
  @extend %col-nowrap;

  &__header {
    @extend %row-nowrap;
    align-items: center;

    &__title {
      flex: 1 1 auto;
      width: 0;
    }

    &__toggle {
      @extend %link;
    }

  }

  &__content {
    opacity: 1;
    // padding: 1rem;
    position: relative;
    max-height: 400px;
    height: auto;
    transition: 0.5s ease-out;

    &--hidden {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: 0.5s ease-out;
    }
  }
  
}
