@import '../../variables.scss';

.collapsible {
  @extend %col-nowrap;

  &__header {
    @extend %row-nowrap;
    align-items: center;

    &__title {
      flex: 1 1 auto;
      width: 0;
    }

    &__toggle {
      @extend %link;
    }
  }
}
