@import '../../variables.scss';

.hip2-picker {
  width: 170px;

  &-input {
    @extend %box-input;

    box-shadow: none;
    border: 1px solid $grey;
    background-color: white;

    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;

    &-invalid {
      color: red;
    }
  }
}