@import '../../variables.scss';

.get-coins {
  @extend %row-nowrap;
  display: flex;
  width: 100%;
  padding: 0 0.1rem;

  h1 {
    line-height: 40px;
    font-size: 34px;
    font-weight: 500;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 4px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  a {
    color: $azure-blue;
    text-decoration: none;
  }

  &__left {
    @extend %col-nowrap;
    flex: 0 1 auto;
    margin-right: 2rem;
  }

  &__right {
    @extend %col-nowrap;
    flex: 0 0 auto;
  }

  &__step {
    @extend %row-nowrap;
    margin: 1.25rem 1rem 0 0.75rem;
  }

  &__step-number {
    @extend %row-nowrap;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    line-height: 1.25rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    font-weight: 500;
    border: 2px solid $black;
    margin-right: 1rem;
  }

  &__step-content {
    @extend %col-nowrap;
  }

  &__step-title {
    font-weight: 600;
    font-size: 1.05rem;
    margin: 0.2rem 0 0.5rem;
  }

  &__step-paragraph {
    font-size: 14px;
    font-weight: 400;
  }

  &__link {
    color: $azure-blue;
    &:hover {
      cursor: pointer;
    }
  }
  &__panel {
    background-color: $white;
    width: 20rem;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    border: 1px solid $grey;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 rgba($black, 0.35);

    &__title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    &__offer {
      div {
        // Offer Amount
        &:nth-of-type(1) {
          color: $turquioise-blue;
          font-size: 0.9rem;
          font-weight: 500;
          margin-bottom: 0.4rem;
        }

        // Offer Role
        &:nth-of-type(2) {
          font-size: 0.9rem;
          font-weight: 600;
          margin-bottom: 0.4rem;
        }

        // Offer Details
        &:nth-of-type(3),
        &:nth-of-type(4) {
          position: relative;
          font-size: 0.8rem;
          font-weight: 400;
          line-height: 1.4rem;
          padding-left: 1.25rem;

          &:before {
            position: absolute;
            content: ' ';
            top: 0.2rem;
            left: 0;
            height: 1rem;
            width: 1rem;
            background: url(../../assets/images/check-circle.svg) no-repeat;
            background-size: contain;
          }
        }
      }

      button {
        @extend %btn-primary;
        padding: 0.5rem;
        width: 100%;
        border-radius: 0.5rem;
        margin: 1rem 0 1.75rem;
      }
    }
  }
}
