@import '../../variables.scss';

.domain-manager {
  @extend %col-nowrap;

  &__buttons {
    button {
      @extend %btn-primary;
      display: inline-block;
      width: auto;
      margin-right: 1rem;
      height: 1.75rem;
      padding: 0 1rem;
    }
  }

  &__search {
    margin: 1rem 0;
    width: 10rem;
  }

  &__domain {
    @extend %row-nowrap;

    align-items: center;
    border-radius: .5rem;
    padding: 1rem 1.25rem;
    transition: background-color 250ms ease-in-out;
    max-width: 25rem;
    margin-bottom: .25rem;

    &:hover {
      background-color: $athens-gray;
      cursor: pointer;
    }

    &:active {
      background-color: darken($athens-gray, 2);
      cursor: pointer;
    }

    &__icon {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
    }

    &__name {
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 500;
      margin-left: 1rem;
    }
  }

  &__table {
    .table {
      &__header {
        &__item:nth-of-type(1) {
          flex: 0 0 12rem;
          flex-grow: 1;
        }

        &__item:nth-of-type(3) {
          text-align: left;
          flex: 1 1 auto;
        }

        &__item:nth-of-type(2) {
          text-align: left;
          flex: 0 0 6rem;
        }
      }

      &__row {
        cursor: pointer;
        transition: background-color 250ms ease-in-out;

        &:hover {
          background-color: rgba($black, .025);
        }

        &:active {
          background-color: rgba($black, .05);
        }

        &__item:nth-of-type(1) {
          flex: 0 0 12rem;
          flex-grow: 1;
        }

        &__item:nth-of-type(3) {
          text-align: left;
          flex: 1 1 auto;
        }

        &__item:nth-of-type(2) {
          text-align: left;
          flex: 0 0 6rem;
        }
      }

      &__empty-row {
        height: 1.8rem;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__loading {
    @extend %row-nowrap;
    color: rgba($black, 0.5);
    font-weight: bold;
    font-size: 0.8rem;
    z-index: 100;
    align-items: center;
    justify-content: flex-start;
    flex: 1 1 auto;


    &:before {
      content: '';
      display: block;
      height: 0.8rem;
      width: 0.8rem;
      background-size: cover;
      background-position: center;
      margin-right: 4px;
      background-image: url('../../assets/images/brick-loader.svg');
    }
  }

  &__page-control {
    @extend %row-nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;

    &__numbers {
      @extend %row-nowrap;
      align-items: center;
    }

    &__dropdowns {
      @extend %row-nowrap;
      align-items: center;
    }

    &__start,
    &__end,
    &__page {
      @extend %row-nowrap;
      align-items: center;
      justify-content: center;
      border-radius: .5rem;
      font-size: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 .5rem;
      color: $azure-blue;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }
    }

    &__ellipsis {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0 .5rem;
      text-align: center;
    }

    &__start,
    &__end {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border: 1.5px solid $athens-gray;
    }

    &__start {
      background-image: url(../../assets/images/arrow-left-blue.svg);
    }

    &__end {
      background-image: url(../../assets/images/arrow-right-blue.svg);
    }

    &__page--active {
      color: $black;
      font-weight: 500;
      cursor: default;

      &:hover {
        transform: none;
      }
    }
  }

  &__items-per {
    &__dropdown {
      margin-right: 1rem !important;

      .dropdown__current-item {
        width: 2rem !important;
      }
    }
  }

  &__go-to {
    @extend %row-nowrap;
    align-items: center;
    font-size: .65rem;

    &__dropdown {
      margin-left: .5rem;

      .dropdown {
        align-self: center;

        &__current-item {
          width: 2.25rem;
          padding: .25rem .5rem;
          font-size: .7rem;
          border-radius: .25rem;
          height: .8rem;

          &::after {
            top: .3rem;
            right: .5rem;
            height: .4rem;
            width: .4rem;
          }
        }

        &__options {
          padding: .25rem 0;
        }

        &__option {
          padding: .25rem .5rem;
          font-size: .7rem;
        }
      }
    }

    &__dropdown.dropdown--opened {
      .dropdown {
        &__current-item {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          &::after {
            top: .55rem;
          }
        }
      }
    }

    &__total {
      margin-left: .5rem;
    }
  }
}

.claim-name-for-payment {

  &__file {

    > :first-child {
      text-align: center;
      margin: 0;
    }

    button {
      @extend %btn-secondary;
      display: block;
      margin: 0.5rem auto;
      padding: 0.5rem 1rem;
    }
  }
}

.claim-name-for-payment-verification {
  dt {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  dd {
    margin-left: 0;
    margin-bottom: 0.9rem;
    overflow-wrap: break-word;
  }
}

.claim-name-for-payment__verification-buttons {
  display: flex;

  button {
    flex: 0 1 50%;
  }

  .abort {
    margin-right: 0.5rem;
    @extend %btn-primary;
    background: $orange-red;
    border-color: $orange-red;

    &:hover,
    &:active,
    &:focus {
      $hover-color: lighten($orange-red, 10%);
      background-color: $hover-color;
      border-color: lighten($orange-red, 10%);
    }

    &:disabled {
      background-color: $orange-red;
      opacity: 0.3;
      color: white;
    }
  }

  .pay-and-transfer {
    margin-left: 0.5rem;
    @extend %btn-primary;
  }


}

.claim-name-for-payment-invalid {
  color: $orange-red;
}

.bulk-transfer {
  select {
    width: 100%;
  }

  option {
    @extend %h4;
    padding: .25rem .5rem;
  }

  p {
    &:nth-of-type(1) {
      margin-top: 0;
    }
  }

  &__label {
    color: rgba($black, 0.4);
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  &__input {
    @extend %box-input;
    @extend %row-nowrap;

    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;

    input {
      outline: none;
      flex: 1 1 auto;
      width: 0;
      font-size: 0.85rem;
      border: none;
    }
  }

  &__actions {
    @extend %row-nowrap;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;

    button {
      @extend %btn-primary;
      flex: 1 0 auto;
    }
  }
}
