@import '../../variables.scss';

.transaction {
  display: flex;
  border-bottom: 1px solid $athens-gray;
  padding: 1rem 0;
  align-items: center;

  &--pending {
    opacity: 0.5;
  }

  &__tx-icon {
    @extend %col-nowrap;

    justify-self: center;
    align-self: center;
    background-size: contain;
    background-repeat: no-repeat;

    &--pending {
      background-image: url(../../assets/images/pending-black.svg);
      height: 1.5rem;
      width: 1.3rem;
      opacity: 0.5;
    }

    &--received {
      background-image: url(../../assets/images/arrow-down-circle-green.svg);
      height: 1.5rem;
      width: 1.5rem;
    }

    &--sent {
      background-image: url(../../assets/images/arrow-up-circle-red.svg);
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  &__tx-timestamp {
    margin-right: 2rem;
  }

  &__tx-description {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &__tx-value {
    flex: 0 0 auto;
  }

  &__title {
    @extend %h4;

    color: $black;
    font-weight: 500;
    margin-bottom: 0.1rem;

    &--pending {
      color: rgba($black, 0.5);
    }
  }

  &__party {
    margin-left: 1rem;
    color: $manatee-gray;
  }

  &__subtitle {
    @extend %h5;

    color: rgba($black, 0.5);
  }

  &__number {
    @extend %h4;

    color: $black;
    font-weight: 500;
    margin-bottom: 0.1rem;

    &--positive {
      color: #0bca6b;
    }

    &--negative {
      color: #f53923;
    }

    &--pending {
      color: rgba($black, 0.5);

      em {
        color: $manatee-gray;
      }
    }
  }
}
