@import '../../variables.scss';

.progress-bar {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: rgba($black, .1);
  margin: .5rem 0;
  border-radius: 1rem;

  &__filler {
    height: 100%;
    background-color: $azure-blue;
    transition: width .2s ease-in;
    border-radius: inherit;
  }
}