@import '../../variables.scss';

.transfer-details {
  margin-top: 1rem;
  margin-bottom: 1.5rem;

  &__form {
    display: flex;
    padding-left: 2px;
  }

  &__inputs {
    flex: 1 1 100%;
    margin-right: 1rem;
  }

  &__cta {
    flex: 0 0 150px;

    .extension_cta_button {
      display: block;
    }
  }

  input {
    padding: 2px 0;
  }

  .extension_cta_button {
    display: inline;
    width: auto;
  }

  button {
    margin-right: 1rem;
  }

  &__danger {
    background: $orange-red !important;

    &, &:focus, &:hover {
      border: 0 !important;
    }

    &:hover {
      background: rgba($orange-red, 0.90) !important;
    }
  }
}
