@import "../../variables.scss";

.bid-history {
  padding-top: 1.5rem;

  &__empty {
    font-size: 0.8rem;
    color: #333;
    font-weight: 400;
    margin-top: 1.5rem;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;

    th {
      font-size: 0.7rem;
      text-transform: uppercase;
      text-align: left;
      padding: 0.5rem 0;
      border-bottom: 1px solid $second-back;
      font-weight: 700;
    }

    td {
      padding: 1rem 0;
      border-bottom: 1px solid $second-back;
      font-size: 0.8rem;
      color: $main-contrast;
      font-weight: 400;
    }

    &__tr--pending td {
      font-style: italic;
      color: darken($main-contrast, 10);
    }
  }

  &__correct {
    background-color: $success;
  }

  &__repair-bid {
    display: inherit;
    cursor: pointer;
    border-bottom: 1px dashed lighten($manatee-gray, 25);

    &:hover {
      color: lighten($manatee-gray, 10);
      border-bottom: 1px dashed lighten($manatee-gray, 30);
    }

    &:active {
      color: darken($manatee-gray, 10);
      border-bottom: 1px dashed lighten($manatee-gray, 20);
    }
  }
}
