@import '../../variables';

%info-header {
  box-shadow: 0 1px 0 0 rgba($black, .1);
  margin-top: 2.5rem;
}

%info-title {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 0;
}

.domains {
  @extend %row-nowrap;

  &__content {
    flex: 1 1 auto;
    width: 0;
    margin-right: 2rem;

    &__title {
      font-weight: 500;
      font-size: 2.5rem;
    }

    &__info-panel {
      &__title {
        @extend %info-title;
        @extend %info-header;
      }

      .collapsible {
        &__header {
          @extend %info-header;

          &__title {
            @extend %info-title;
          }
        }
      }

      &__content {
        display: flex;
        flex-flow: row wrap;
      }
    }

    &__auction-detail {
      flex: 1 0 auto;
      margin: 1rem;
      align-items: flex-start;
      width: 6rem;

      &__label {
        font-size: .65rem;
        font-weight: 600;
      }

      &__status {
        font-size: 1.25rem;
        font-weight: 600;
        padding: .4rem 0 .2rem;
      }

      &__description {
        font-size: .65rem;
      }
    }
  }
}
